* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #e6d2b9;
  margin: 0;
  padding: 0;
}

.memory-game {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  /* max-width: 41.5rem; */
  max-width: 50.5rem;

  margin: 3rem auto;
  padding: 2rem;
  padding-bottom: 3rem;

  border-radius: 20px;
  border: 4px solid #d0a77b;

  background: #efe8d8;
  position: relative;
}

.flowers__pink-flower {
  position: absolute;
  top: 86%;
  left: -6%;
}

.game-status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0em 2em;

  background: #d0a77b;
  color: #fdfcf8;

  font-weight: 600;
  font-size: 1.25rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.game-status button {
  background: transparent;
  border: none;
  padding: 0;
}

.game-status button svg {
  color: #fdfcf8;
  width: 2rem;
  height: 2rem;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.card {
  /* width: 112px;
  height: 112px; */
  width: 140px;
  height: 140px;
  background: #dbbb99;
  border: 3.5px solid #d0a77c;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card.flipped {
  background: transparent;
}

.card__content__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(208, 167, 123, 0.85);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

.game-over h2 {
  color: white;
  font-size: 2rem;
}

.game-over button {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
}

.game-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(208, 167, 123, 0.85);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

.game-modal__title {
  color: white;
  font-size: 2rem;
}

.game-modal__buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.game-modal__button {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
}
