* {
  box-sizing: border-box;
}

html {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #e6d2b9;
  margin: 0;
  padding: 0;
}

button {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
}